{% load static %}

<div class="bg-white rounded-lg shadow-md overflow-hidden">
  <div class="p-4 lg:p-6 h-full flex flex-col justify-between">
    <div class="flex flex-col gap-2">
      <h3 class="text-lg lg:text-xl font-semibold text-gray-900">
        <i class="fas fa-book mr-2"></i>{{ course.name }}
      </h3>
      <div class="description-container" id="description-{{ course.id }}">
        <p
          class="text-gray-600 text-sm lg:text-base line-clamp-2 description-text"
        >
          {{ course.description|safe }}
        </p>
        <div class="description-gradient"></div>
        <button
          onclick="toggleDescription('description-{{ course.id }}')"
          class="toggle-button absolute bottom-0 right-0 text-indigo-600 hover:text-indigo-700 bg-white px-1 z-10"
        >
          <i class="fas fa-chevron-down"></i>
        </button>
      </div>
    </div>

    <div class="flex justify-between items-center mt-4">
      {% if course.price == 0 %}
      <span class="text-green-600 font-semibold">
        <i class="fas fa-check-circle mr-1"></i>Ücretsiz
      </span>
      <button
        onclick="openModal({{ course.id }}, 'randevu')"
        class="bg-indigo-500 text-white px-4 py-2 rounded-md hover:bg-indigo-600 transition flex items-center"
      >
        <i class="fas fa-calendar-alt mr-2"></i>Randevu Al
      </button>
      {% else %}
      <span class="text-indigo-600 font-semibold">
        <i class="fas fa-tag mr-1"></i>{{ course.price }} ₺
      </span>
      <button
        onclick="openModal({{ course.id }}, 'bilgi')"
        class="bg-indigo-500 text-white px-4 py-2 rounded-md hover:bg-indigo-600 transition flex items-center"
      >
        <i class="fas fa-info-circle mr-2"></i>Bilgi Al
      </button>
      {% endif %}
    </div>
  </div>
</div>
